<!DOCTYPE html>
<html lang="en">
 <head>
  <title>{{ seo.page_title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ seo.description }}">
  <meta name="author" content="Alex Ankers">
  <meta name="robots" content="index,follow">
  <link rel="canonical" href="{{ seo.url }}">
  <!-- Picnic CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" type="text/css">
  <link rel="stylesheet" href="/static/site.css" type="text/css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <!-- Open Graph -->
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="{{ seo.type|lower }}">
  <meta property="og:title" content="{{ seo.title }}">
  <meta property="og:description" content="{{ seo.description }}">
  <meta property="og:image" content="{{ seo.image }}">
  <meta property="og:url" content="{{ seo.url }}">
  <meta property="og:site_name" content="{{ seo.name }}">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ seo.title }}">
  <meta name="twitter:url" content="{{ seo.url }}">
  <meta name="twitter:image" content="{{ seo.image }}">
  <meta name="twitter:description" content="{{ seo.description }}">
  <!-- JSON-LD Schema -->
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"{{ seo.type }}","description":"{{ seo.description }}","headline":"{{ seo.title }}","name":"{{ seo.name }}","url":"{{ seo.url }}"}</script>
 </head>
 <body>
  <nav class="transparent">
   <a href="/" class="brand"><span>Alex Ankers</span></a><input id="bmenu" type="checkbox" class="show">
   <label for="bmenu" class="burger toggle pseudo button">menu</label>
   <div class="menu">
    <a href="https://www.linkedin.com/in/alex-ankers/" target="_blank" class="pseudo button">LinkedIn</a>
    <a href="https://github.com/spoofnet/" target="_blank" class="pseudo button">GitHub</a>
    <a href="https://www.linkedin.com/in/alex-ankers" target="_blank" class="button">Contact</a>
   </div>
  </nav>
  <main>
   {% block content %}
   {% endblock %}
  </main>
  <footer>Copyright &copy; {{ year }} Alex Ankers</footer>
  <!-- JQuery JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/site.js"></script>
 </body>
</html>
