{% extends "base.html" %}
{% block content %}
<header class="hero">
 <div class="content">
  <h1>Network, Automation, Infrastructure, DevOps</h1>
 </div>
</header>
<div id="content" class="visual flex one">
 <h2>Yello there!</h2>
 <p class="blurb">I'm Alex, a Networking and Infrastructure guy - far too familiar with Backend, and <s>mediocre</s> just-about-usable Frontend development. I have been known to Code, and am basically an all-around Internet Plumbing geek.</p>
 <p>Right now I'm dabbling with the <a href="https://reloadin.net" target="_blank">Reload in 10 Newsletter</a> for all things NetEng and NetDevOps, and intend to share some other projects and happenings in the future.</p>
 <p>Everything here is <i>personal opinion</i> and may not reflect the opinions of my employer.</p>
 <h2>Stuff I've written</h2>
 <p>60% of the time, I write every time. Here's some stuff I've written:</p>
 <ul>
  {% for post in posts %}
  <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
  {% endfor %}
 </ul>
 <div><a href="https://www.linkedin.com/in/alex-ankers" class="button" target="_blank">Find me on LinkedIn</a></div>
</div>
{% endblock %}
